# use local pg/redis
secret-env-postgresql=postgres://postgres:password@localhost:5432/advana-marketplace-monolith-db
REDIS_URL=redis://localhost
PG_SSL_REQUIRE=false
AUTH_PG_SSL=false
EXPRESS_PROFILE=dev

# use il2 pg/redis (take values from chart-env/dev/values and chart-env/dev/secrets)
; PG_USER=
; PG_PASSWORD=
; PG_HOST=
; PG_DATABASE=
; REDIS_URL=
; REDIS_USER=
; REDIS_PASSWORD=
; PG_SSL_REQUIRE=true
; AUTH_PG_SSL=true
; EXPRESS_PROFILE=prod

TLS_CERT_CA_FILEPATH=./secrets/ca-bundle.crt

NODE_EXTRA_CA_CERTS=./secrets/ca.pem
